NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_SERVER_URL=
NEXT_PUBLIC_CLIENT_URL=
NEXT_PUBLIC_AUTH_URL=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SIGN_IN_DIRECT_URL=
NEXT_PUBLIC_SIGN_UP_DIRECT_URL=
NEXT_PUBLIC_SETTING_DIRECT_URL=
NEXT_PUBLIC_SSO_OAUTH_CLIENT_ID=
NEXT_AUTH_SECRET=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_PUBLISHABLE_OR_ANON_KEY=
SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_BUCKET=

BETTER_AUTH_API_KEY=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_DATABASE_URL=
BETTER_AUTH_DATABASE_SSL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
