NODE_ENV=development
VITE_PUBLIC_ALLOWED_REDIRECT_ORIGINS=http://localhost:3000
VITE_PUBLIC_CLIENT_URL=http://localhost:3000
VITE_PUBLIC_MOBILE_URL=
VITE_PUBLIC_LOCAL_URL=http://localhost:3000
VITE_PUBLIC_SERVER_URL=http://localhost:8080

JWT_SECRET=
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

SSO_CLIENT_INTERNAL_SECRET=
SSO_ACCESS_TOKEN_SECRET=
SSO_REFRESH_TOKEN_SECRET=
SSO_ACCESS_TOKEN_EXPIRES_IN=15m
SSO_REFRESH_TOKEN_EXPIRES_IN=30d

DATABASE_URL=
PG_POOL_MAX=5

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
EMAIL_FROM_NAME=Gorth
EMAIL_REPLY_TO=
