NODE_ENV=development
VITE_PUBLIC_PORT=8080
VITE_PUBLIC_AUTH_URL=http://localhost:3000
VITE_PUBLIC_CLIENT_URL=http://localhost:3000
VITE_PUBLIC_MOBILE_URL=http://localhost:8081
VITE_PUBLIC_SERVER_URL=http://localhost:8080

DATABASE_URL=
PG_POOL_MAX=5

VITE_AUTH_SECRET=
VITE_SESSION_SECRET=
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

GORTH_ACCESS_TOKEN=gorth.access_token
GORTH_REFRESH_TOKEN=gorth.refresh_token
GORTH_ACCESS_TOKEN_SECRET=
GORTH_REFRESH_TOKEN_SECRET=
GORTH_ACCESS_TOKEN_EXPIRES_IN=15m
GORTH_REFRESH_TOKEN_EXPIRES_IN=30d

# Supabase Configuration
VITE_PUBLIC_SUPABASE_URL=
VITE_PUBLIC_SUPABASE_ANON_KEY=
VITE_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_PUBLISHABLE_OR_ANON_KEY=
SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_BUCKET=shared

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
EMAIL_FROM_NAME=Gorth
EMAIL_REPLY_TO=
